<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>模拟帝国地图编辑器V2</title>
        <link rel="icon" href="./img/logo.png" />
        <link rel="stylesheet" href="./library/fontawesome.all.css" />
        <link rel="stylesheet" href="./library/element-ui.v2.14.1.css" />
        <script src="./library/jquery.v3.5.1.min.js"></script>
        <script src="./library/html2canvas.min.js"></script>
        <script src="./library/md5.v2.18.0.min.js"></script>
        <link rel="stylesheet" href="./style/color.css" />
        <link rel="stylesheet" href="./style/boundary.css" />
        <link rel="stylesheet" href="./style/loading-background.css" />
        <link rel="stylesheet" href="./style/minion.css" />
        <link rel="stylesheet" href="./style/ghost.css" />
        <link rel="stylesheet" href="./style/button.css" />
        <link rel="stylesheet" href="./style/switcher.css" />
        <link rel="stylesheet" href="./style/top-menu.css" />
        <link rel="stylesheet" href="./style/main.css" />
        <link rel="stylesheet" href="./style/side-nav.css" />
        <link rel="stylesheet" href="./style/top-nav.css" />
        <link rel="stylesheet" href="./style/content.css" />
        <link rel="stylesheet" href="./style/editor-panel.css" />
        <script src="./js/constant/label-text.js"></script>
        <script src="./js/constant/building-fixed.js"></script>
        <script src="./js/constant/building-china.js"></script>
        <script src="./js/constant/building-persian.js"></script>
        <script src="./js/constant/building-egypt.js"></script>
        <script src="./js/constant/building-greece.js"></script>
        <script src="./js/constant/building-aztaka.js"></script>
        <script src="./js/constant/light-mode.js"></script>
        <script src="./js/constant/dark-mode.js"></script>
        <script src="./js/util.js"></script>
        <script src="./js/config.js"></script>
        <script src="./js/mouse-event.js"></script>
        <script src="./js/keyboard-event.js"></script>
        <script src="./js/other-event.js"></script>
        <script src="./js/top-nav.js"></script>
        <script src="./js/side-nav.js"></script>
        <script src="./js/content.js"></script>
        <script src="./js/building.js"></script>
        <script src="./js/building-range.js"></script>
        <script src="./js/mini-map.js"></script>
        <script src="./js/block.js"></script>
        <script src="./js/selection-block.js"></script>
        <script src="./js/deletion-block.js"></script>
        <script src="./js/import-and-export.js"></script>
    </head>
    <body>
        <div id="app" style="display: none">
            <div id="top-nav">
                <div id="top-nav-controller">
                    <div id="top-nav-height-helper">
                        <svg
                            id="ham-button"
                            class="ham-button ham-button-rotate"
                            viewBox="0 0 100 100"
                            width="80"
                            style="margin-left: 10px"
                            onclick="onClickHamButton(this.className.baseVal.indexOf('active')>-1)"
                        >
                            <path
                                class="line top"
                                d="m 30,33 h 40 c 0,0 8.5,-0.68551 8.5,10.375 0,8.292653 -6.122707,9.002293 -8.5,6.625 l -11.071429,-11.071429"
                            />
                            <path class="line middle" d="m 70,50 h -40" />
                            <path
                                class="line bottom"
                                d="m 30,67 h 40 c 0,0 8.5,0.68551 8.5,-10.375 0,-8.292653 -6.122707,-9.002293 -8.5,-6.625 l -11.071429,11.071429"
                            />
                        </svg>
                        <div>
                            <div>地图类型:</div>
                            <ul class="top-menu">
                                <li class="top-menu-item">
                                    <a
                                        id="wood-num"
                                        style="color: var(--color-text-primary); font-weight: bold"
                                        onmouseover="$$$('#wood-num + ul li', true).forEach((node) => (node.style.display = 'block'))"
                                        >0</a
                                    >
                                    <ul class="top-sub-menu">
                                        <li class="top-menu-item-active">
                                            <a value="5" onclick="onClickWoodNum(this.getAttribute('value'))">5</a>
                                        </li>
                                        <li class="top-menu-item-active">
                                            <a value="4" onclick="onClickWoodNum(this.getAttribute('value'))">4</a>
                                        </li>
                                        <li class="top-menu-item-active">
                                            <a value="3" onclick="onClickWoodNum(this.getAttribute('value'))">3</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <div>文明:</div>
                            <ul class="top-menu">
                                <li class="top-menu-item">
                                    <a
                                        id="civil"
                                        style="color: var(--color-text-primary); font-weight: bold"
                                        onmouseover="$$$('#civil + ul li', true).forEach((node) => (node.style.display = 'block'))"
                                        >中国</a
                                    >
                                    <ul class="top-sub-menu">
                                        <li class="top-menu-item-active">
                                            <a value="中国" onclick="onClickCivil(this.getAttribute('value'))">中国</a>
                                        </li>
                                        <li class="top-menu-item-active">
                                            <a value="波斯" onclick="onClickCivil(this.getAttribute('value'))">波斯</a>
                                        </li>
                                        <li class="top-menu-item-active">
                                            <a value="埃及" onclick="onClickCivil(this.getAttribute('value'))">埃及</a>
                                        </li>
                                        <li class="top-menu-item-active">
                                            <a value="希腊" onclick="onClickCivil(this.getAttribute('value'))">希腊</a>
                                        </li>
                                        <li class="top-menu-item-active">
                                            <a value="阿兹特克" onclick="onClickCivil(this.getAttribute('value'))"
                                                >阿兹特克</a
                                            >
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <div>无木之地:</div>
                            <div class="toggle toggle--ordinary">
                                <input
                                    type="checkbox"
                                    id="toggle-no-wood"
                                    class="toggle--checkbox"
                                    onclick="onClickNoWood(this.checked)"
                                />
                                <label class="toggle--btn" for="toggle-no-wood"></label>
                            </div>
                        </div>
                        <div>
                            <div>显示模式:</div>
                            <div class="toggle toggle--daynight">
                                <input
                                    type="checkbox"
                                    id="toggle-display-mode"
                                    class="toggle--checkbox"
                                    checked="true"
                                    onclick="onClickDisplayMode(this.checked)"
                                />
                                <label class="toggle--btn" for="toggle-display-mode"
                                    ><span class="toggle--feature"></span
                                ></label>
                            </div>
                        </div>
                        <div>
                            <div>小地图:</div>
                            <div class="toggle toggle--ordinary">
                                <input
                                    type="checkbox"
                                    id="toggle-mini-map"
                                    class="toggle--checkbox"
                                    checked="true"
                                    onclick="onClickMiniMap(this.checked)"
                                />
                                <label class="toggle--btn" for="toggle-mini-map"></label>
                            </div>
                        </div>
                        <!-- <div>
                            <div>旋转地图:</div>
                            <div class="toggle toggle--ordinary">
                                <input disabled="true" type="checkbox" id="toggle-rotation" class="toggle--checkbox" />
                                <label class="toggle--btn" for="toggle-rotation"></label>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div id="top-nav-operation">
                    <!-- <div>
                        选中:
                        <strong id="top-nav-selected">无</strong>
                    </div> -->
                    <div>
                        操作:
                        <strong id="top-nav-holding">无</strong>
                    </div>
                </div>
                <el-tooltip style="border-radius: 50%" popper-class="hint-popper" placement="bottom-start">
                    <div slot="content">
                        快捷键:
                        <br />
                        1. 空格: 取消操作
                        <br />
                        2. A: 道路
                        <br />
                        3. S: 选中建筑
                        <br />
                        4. D: 删除建筑
                        <br />
                        5. ZXC(V): 三(四)防建筑
                        <br />
                        6. QWER: 2x2 3x3 4x4 5x5 通用建筑
                        <br />
                        -------------------------------------------------
                        <br />
                        其它操作:
                        <br />
                        1. 双击建筑可以删除建筑
                        <br />
                        2. 按住Ctrl键可以在选中操作时拖动地图
                        <br />
                        3. 使用相同大小的建筑可以覆盖通用建筑
                        <br />
                        4. 如果无法放置建筑，尝试按一次Ctrl
                        <br />
                        5. 鼠标悬停在建筑上，按Ctrl+C可以复制建筑
                        <br />
                        6. 特殊建筑的数据会被导入导出
                        <br />
                        7. 用户自定义的水印会被导入导出
                        <br />
                        -------------------------------------------------
                        <br />
                        作者联系邮箱: glutamine525@gmail.com
                    </div>
                    <div style="width: 30px; height: 30px; margin: auto 0">
                        <div id="minion" class="face">
                            <div class="eyes">
                                <div class="eye"></div>
                                <div class="eye"></div>
                            </div>
                        </div>
                    </div>
                </el-tooltip>
                <div id="top-nav-info">
                    <div>
                        模拟帝国地图编辑器:
                        <strong id="top-nav-version"></strong>
                    </div>
                    <div>
                        作者:
                        <strong id="top-nav-author">咕噜他命</strong>
                    </div>
                </div>
            </div>
            <div id="main-page">
                <div id="side-nav">
                    <div class="side-nav-container">
                        <el-menu :collapse="true" @select="onSelect">
                            <el-menu-item index="道路">
                                <img :src="'./img/道路.png'" />
                                <span slot="title">道路</span>
                            </el-menu-item>
                            <el-submenu
                                v-for="item1 in buildingCatagory"
                                :key="item1"
                                :index="item1"
                                :show-timeout="100"
                                :hide-timeout="100"
                                popper-class="popper"
                            >
                                <template slot="title">
                                    <img :src="'./img/' + item1 + '.png'" />
                                    <span slot="title">{{ item1 }}</span>
                                </template>
                                <el-menu-item-group :title="item1">
                                    <el-menu-item
                                        v-for="item2 in buildingInfo[item1]"
                                        :key="item2.name"
                                        :index="item2.name"
                                    >
                                        {{ item2.name }}
                                    </el-menu-item>
                                </el-menu-item-group>
                            </el-submenu>
                            <el-submenu index="特殊建筑" :show-timeout="100" :hide-timeout="100" popper-class="popper">
                                <template slot="title">
                                    <img :src="'./img/特殊建筑.png'" />
                                    <span slot="title">特殊建筑</span>
                                </template>
                                <el-menu-item-group title="特殊建筑">
                                    <el-menu-item
                                        v-for="item in specialBuildingList"
                                        :key="item.name"
                                        :index="item.name"
                                    >
                                        {{ item.name }}
                                    </el-menu-item>
                                </el-menu-item-group>
                            </el-submenu>
                            <el-menu-item v-for="item1 in operationCatagory2" :key="item1" :index="item1">
                                <img :src="'./img/' + item1 + '.png'" />
                                <span slot="title">{{ item1 }}</span>
                            </el-menu-item>
                            <el-submenu
                                v-for="item1 in operationCatagory1"
                                :key="item1"
                                :index="item1"
                                :show-timeout="100"
                                :hide-timeout="100"
                                popper-class="popper"
                            >
                                <template slot="title">
                                    <img :src="'./img/' + item1 + '.png'" />
                                    <span slot="title">{{ item1 }}</span>
                                </template>
                                <el-menu-item-group :title="item1">
                                    <el-menu-item v-for="item2 in labelText[item1]" :key="item2" :index="item2">
                                        {{ item2 }}
                                    </el-menu-item>
                                </el-menu-item-group>
                            </el-submenu>
                        </el-menu>
                    </div>
                </div>
                <div id="content">
                    <div id="map">
                        <canvas id="cell" width="3480" height="3480"></canvas>
                        <div id="cell-helper"></div>
                        <div id="building"></div>
                        <div id="sign">
                            <div id="author-sign">
                                <div style="font-size: 100px">
                                    <span id="sign-civil" class="highlight" style="color: var(--color-primary)"></span>
                                    <span> </span>
                                    <span
                                        id="sign-wood-num"
                                        class="highlight"
                                        style="color: var(--color-danger)"
                                    ></span>
                                    <span> 地图布局</span>
                                </div>
                                <div>
                                    <span>From the Map Editor </span>
                                    <span id="sign-version" class="highlight"></span>
                                    <span> Implemented by </span>
                                    <span class="highlight">Glutamine525</span>
                                </div>
                                <div>
                                    <span>Github: </span>
                                    <a
                                        class="highlight link"
                                        onclick="onClickLink('https://github.com/Glutamine525/sim-empire-map-editor-v2')"
                                    >
                                        https://github.com/Glutamine525/sim-empire-map-editor-v2
                                    </a>
                                </div>
                                <div>
                                    <span>Email: </span>
                                    <span class="highlight link" onclick="onClickLink('glutamine525@gmail.com')">
                                        glutamine525@gmail.com
                                    </span>
                                </div>
                            </div>
                            <div id="user-sign" style="display: none">
                                <div
                                    v-for="(sign, i) in userSign"
                                    :key="'sign-'+i"
                                    :style="{ 
                                        textAlign: sign.textAlign,
                                        top: sign.top+'px',
                                        left: sign.left+'px',
                                    }"
                                >
                                    <div
                                        v-for="(line, j) in userSign[i].lines"
                                        :style="{ fontSize: line.fontSize+'px' }"
                                    >
                                        <span
                                            v-for="(element, k) in userSign[i].lines[j].elements"
                                            :class="{ highlight: element.isHighlight }"
                                            :style="{ color: element.color }"
                                        >
                                            {{ element.text }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="position: absolute; margin: 72px 32px 32px 96px; top: 0; left: 0">
                        <div id="preview" class="building">
                            <div id="preview-text" class="text"></div>
                            <div id="preview-marker" class="marker"></div>
                        </div>
                        <div id="road-helper"></div>
                        <div id="range-container"></div>
                        <div id="selection-block"></div>
                        <div id="deletion-block"></div>
                        <div id="selection-operation">
                            <div
                                id="selection-operation-left"
                                onclick="onClickBlockMove('left', 3)"
                                class="iconbtn fas fa-arrow-left"
                            ></div>
                            <div
                                id="selection-operation-right"
                                onclick="onClickBlockMove('right', 1)"
                                class="iconbtn fas fa-arrow-right"
                            ></div>
                            <div
                                id="selection-operation-bottom"
                                onclick="onClickBlockMove('bottom', 2)"
                                class="iconbtn fas fa-arrow-down"
                            ></div>
                            <div
                                id="selection-operation-top"
                                onclick="onClickBlockMove('top', 0)"
                                class="iconbtn fas fa-arrow-up"
                            ></div>
                        </div>
                        <div id="deletion-operation">
                            <div
                                id="deletion-operation-button"
                                onclick="onClickBlockDelete()"
                                class="iconbtn far fa-trash-alt"
                            ></div>
                        </div>
                        <div
                            id="mini-map-container"
                            onclick="onMiniMapMouseClick(event)"
                            onmousemove="onMiniMapMouseMove(event)"
                        >
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <canvas id="mini-map" width="232" height="232"></canvas>
                            <div id="mini-map-focus"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="editor-container">
                <div id="editor">
                    <el-tabs id="editor-tab" v-model="editorPanelTab">
                        <el-tab-pane id="special-building" label="特殊建筑" name="first">
                            <div id="special-building-preview">
                                <div class="preview-box">
                                    <div
                                        style="
                                            display: flex;
                                            flex-direction: column;
                                            justify-content: center;
                                            align-items: center;
                                        "
                                    >
                                        <div v-for="i in previewBox.row" :key="'previewBox-'+i" class="preview-box-row">
                                            <div
                                                v-for="j in previewBox.cell"
                                                :key="'previewBox-'+i+'-'+j"
                                                class="preview"
                                                :style="{ 
                                            width: `${specialBuilding.width * 30}px`, 
                                            height: `${specialBuilding.height * 30}px`,
                                            color: specialBuilding.color,
                                            background: specialBuilding.background,
                                            borderColor: specialBuilding.borderColor,
                                            borderWidth: `${specialBuilding.borderWidth}px`,
                                            fontSize: `${specialBuilding.fontSize}px`
                                        }"
                                                style="background: linear-gradient(45deg, blue, blue) !important"
                                            >
                                                <div class="text" v-html="specialBuilding.text"></div>
                                                <div
                                                    class="marker"
                                                    :style="{ 
                                                        color: previewMarkerColor, 
                                                        display: specialBuilding.isDecoration || specialBuilding.isMiracle ? 'none' : 'block'
                                                    }"
                                                >
                                                    0
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="preview-operation">
                                    <div>
                                        <el-button size="small" type="info" round @click="onClickPreviewSingle">
                                            单个
                                        </el-button>
                                        <el-button size="small" type="info" round @click="onClickPreviewRow">
                                            横向
                                        </el-button>
                                        <el-button size="small" type="info" round @click="onClickPreviewColumn">
                                            纵向
                                        </el-button>
                                        <el-button size="small" type="info" round @click="onClickPreviewOverspread">
                                            平铺
                                        </el-button>
                                    </div>
                                    <div style="margin-top: 16px">
                                        <el-button size="small" type="danger" round @click="previewMarkerColor='red'"
                                            >防护未满</el-button
                                        >
                                        <el-button size="small" type="success" round @click="previewMarkerColor='green'"
                                            >防护已满</el-button
                                        >
                                    </div>
                                </div>
                            </div>
                            <div id="special-building-setting">
                                <div
                                    class="setting-row"
                                    style="margin: 0 0 10px 0; justify-content: center; height: auto; flex-wrap: wrap"
                                >
                                    已添加
                                    <span style="color: var(--color-text-primary); font-weight: bold; margin: 0 4px">
                                        {{ specialBuildingList.length }}
                                    </span>
                                    个特殊建筑，最多添加10个。
                                </div>
                                <div
                                    class="setting-row"
                                    style="margin: 0 0 20px 0; justify-content: center; height: auto; flex-wrap: wrap"
                                >
                                    <el-tooltip
                                        v-for="(item, index) in specialBuildingList"
                                        :key="'special-'+item.name"
                                        popper-class="hint-popper"
                                        effect="dark"
                                        placement="bottom"
                                    >
                                        <div slot="content">
                                            建筑名称: {{ item.name }}
                                            <br />
                                            显示文字: {{ item.text }}
                                            <br />
                                            宽度: {{ item.width }}， 高度: {{ item.height }}
                                            <br />
                                            文字颜色: <span :style="{ color: item.color }">{{ item.color }}</span>，
                                            字体大小: {{ item.fontSize }}px
                                            <br />
                                            边框颜色:
                                            <span :style="{ color: item.borderColor }">{{ item.borderColor }}</span>，
                                            边框宽度: {{ item.borderWidth }}px
                                            <br />
                                            背景颜色:
                                            <span :style="{ color: item.background }">{{ item.background }}</span>，
                                            建筑范围: {{ item.range }}格
                                            <br />
                                            美化建筑:
                                            <span :style="{ color: item.isDecoration ? 'green' : 'red' }">
                                                {{ item.isDecoration ? '√' : '×' }}
                                            </span>
                                            ， 奇迹建筑:
                                            <span :style="{ color: item.isMiracle ? 'green' : 'red' }">
                                                {{ item.isMiracle? '√' : '×' }}
                                            </span>
                                        </div>
                                        <el-tag
                                            size="medium"
                                            closable
                                            style="margin: 10px"
                                            effect="dark"
                                            @close="deleteSpecialBuilding(index)"
                                        >
                                            {{ item.name }}
                                        </el-tag>
                                    </el-tooltip>
                                </div>
                                <div class="setting-row">
                                    <div class="setting-cell">
                                        <label>建筑名称: </label>
                                        <el-input v-model="specialBuilding.name" style="width: 180px"></el-input>
                                    </div>
                                    <div class="setting-cell">
                                        <el-tooltip
                                            popper-class="hint-popper"
                                            effect="dark"
                                            content="输入<br />即可换行"
                                            placement="bottom"
                                        >
                                            <label>显示文字: </label>
                                        </el-tooltip>
                                        <el-input v-model="specialBuilding.text" style="width: 180px"></el-input>
                                    </div>
                                </div>
                                <div class="setting-row">
                                    <div class="setting-cell">
                                        <label>建筑宽度: </label>
                                        <el-input-number v-model="specialBuilding.width" :min="1"></el-input-number>
                                    </div>
                                    <div class="setting-cell">
                                        <label>建筑高度: </label>
                                        <el-input-number v-model="specialBuilding.height" :min="1"></el-input-number>
                                    </div>
                                </div>
                                <div class="setting-row">
                                    <div class="setting-cell">
                                        <label>文字颜色: </label>
                                        <el-color-picker v-model="specialBuilding.color"></el-color-picker>
                                    </div>
                                    <div class="setting-cell">
                                        <label>字体大小: </label>
                                        <el-input-number
                                            v-model="specialBuilding.fontSize"
                                            :min="12"
                                            :max="48"
                                        ></el-input-number>
                                    </div>
                                </div>
                                <div class="setting-row">
                                    <div class="setting-cell">
                                        <label>边框颜色: </label>
                                        <el-color-picker v-model="specialBuilding.borderColor"></el-color-picker>
                                    </div>
                                    <div class="setting-cell">
                                        <label>边框宽度: </label>
                                        <el-input-number
                                            v-model="specialBuilding.borderWidth"
                                            :min="1"
                                            :max="10"
                                        ></el-input-number>
                                    </div>
                                </div>
                                <div class="setting-row">
                                    <div class="setting-cell">
                                        <label>背景颜色: </label>
                                        <el-color-picker v-model="specialBuilding.background"></el-color-picker>
                                    </div>
                                    <div class="setting-cell">
                                        <label>建筑范围: </label>
                                        <el-input-number v-model="specialBuilding.range" :min="0"></el-input-number>
                                    </div>
                                </div>
                                <div class="setting-row">
                                    <div class="setting-cell">
                                        <label>美化建筑: </label>
                                        <el-switch v-model="specialBuilding.isDecoration"></el-switch>
                                    </div>
                                    <div class="setting-cell">
                                        <label>奇迹建筑: </label>
                                        <el-switch v-model="specialBuilding.isMiracle"></el-switch>
                                    </div>
                                </div>
                                <div class="setting-row" style="margin: 80px 0 0 0; justify-content: center">
                                    <el-button type="primary" round @click="onClickInsertSpecialBuilding">
                                        添加
                                    </el-button>
                                </div>
                            </div>
                        </el-tab-pane>
                        <el-tab-pane id="user-sign-editor" label="添加水印" name="second">
                            <div id="user-sign-preview">
                                <div class="preview-box">
                                    <canvas
                                        id="user-sign-map-preview"
                                        width="232"
                                        height="232"
                                        style="width: 100%; height: 100%"
                                    ></canvas>
                                </div>
                                <div class="preview-operation">
                                    <div>
                                        <el-button
                                            type="info"
                                            size="small"
                                            round
                                            onclick="$$('toggle-display-mode').checked=true, onClickDisplayMode(true)"
                                        >
                                            亮色
                                        </el-button>
                                        <el-button
                                            type="info"
                                            size="small"
                                            round
                                            onclick="$$('toggle-display-mode').checked=false, onClickDisplayMode(false)"
                                        >
                                            暗色
                                        </el-button>
                                        <el-button type="warning" size="small" round onclick="screenshot(2, true)">
                                            截图
                                        </el-button>
                                    </div>
                                </div>
                            </div>
                            <div id="user-sign-setting">
                                <div class="setting-row">
                                    <span style="margin-right: 10px">水印:</span>
                                    <el-button
                                        size="mini"
                                        type="primary"
                                        round
                                        style="margin-right: 10px"
                                        @click="insertUserSign"
                                    >
                                        添加
                                    </el-button>
                                    <el-radio-group
                                        v-model="radioLabelUserSign"
                                        size="mini"
                                        @change="onChangeRadioUserSign"
                                    >
                                        <el-radio-button
                                            v-for="item in userSign"
                                            :key="'radio-sign-'+item.name"
                                            :label="item.name"
                                        ></el-radio-button>
                                    </el-radio-group>
                                </div>
                                <div class="setting-row" style="margin-top: 0">
                                    <span style="margin-right: 10px">&emsp;行:</span>
                                    <el-button
                                        size="mini"
                                        type="primary"
                                        round
                                        style="margin-right: 10px"
                                        @click="insertUserSignLine"
                                    >
                                        添加
                                    </el-button>
                                    <el-radio-group
                                        v-model="radioLabelUserSignLine"
                                        size="mini"
                                        @change="onChangeRadioUserSignLine"
                                    >
                                        <el-radio-button
                                            v-for="(item, index) in userSign[radioIndexUserSign].lines"
                                            :key="'radio-sign-line-'+index"
                                            :label="'第'+(index+1)+'行'"
                                        ></el-radio-button>
                                    </el-radio-group>
                                </div>
                                <div class="setting-row" style="margin-top: 0">
                                    <span style="margin-right: 10px">元素:</span>
                                    <el-button
                                        size="mini"
                                        type="primary"
                                        round
                                        style="margin-right: 10px"
                                        @click="insertUserSignElement"
                                    >
                                        添加
                                    </el-button>
                                    <el-radio-group
                                        v-model="radioLabelUserSignElement"
                                        size="mini"
                                        @change="radioIndexUserSignElement = +radioLabelUserSignElement.substring(1,radioLabelUserSignElement.length-1) - 1"
                                    >
                                        <el-radio-button
                                            v-for="(item, index) in userSign[radioIndexUserSign].lines[radioIndexUserSignLine].elements"
                                            :key="'radio-sign-element-'+index"
                                            :label="'第'+(index+1)+'个'"
                                        ></el-radio-button>
                                    </el-radio-group>
                                </div>
                                <div class="setting-row splitter"></div>
                                <div class="setting-row">
                                    <div class="setting-cell">
                                        <label>水印名称: </label>
                                        {{ userSign[radioIndexUserSign].name }}
                                        <el-button
                                            size="mini"
                                            type="warning"
                                            round
                                            style="margin-left: 10px"
                                            @click="updateUserSign"
                                        >
                                            修改
                                        </el-button>
                                        <el-button
                                            size="mini"
                                            type="danger"
                                            round
                                            style="margin-left: 10px"
                                            @click="deleteUserSign"
                                        >
                                            删除
                                        </el-button>
                                    </div>
                                    <div class="setting-cell">
                                        <label>对齐样式: </label>
                                        <el-radio-group v-model="userSign[radioIndexUserSign].textAlign" size="small">
                                            <el-radio-button label="left">左对齐</el-radio-button>
                                            <el-radio-button label="right">右对齐</el-radio-button>
                                        </el-radio-group>
                                    </div>
                                </div>
                                <div class="setting-row">
                                    <div class="setting-cell">
                                        <label>上侧边距: </label>
                                        <el-input-number
                                            v-model="userSign[radioIndexUserSign].top"
                                            size="small"
                                            :min="-1"
                                            :max="3480"
                                        ></el-input-number>
                                    </div>
                                    <div class="setting-cell">
                                        <label>左侧边距: </label>
                                        <el-input-number
                                            v-model="userSign[radioIndexUserSign].left"
                                            size="small"
                                            :min="-1"
                                            :max="3480"
                                        ></el-input-number>
                                    </div>
                                </div>
                                <div class="setting-row splitter"></div>
                                <div class="setting-row">
                                    <div class="setting-cell">
                                        <label>{{ radioLabelUserSignLine }}</label>
                                        <el-button
                                            size="mini"
                                            type="danger"
                                            round
                                            style="margin-left: 10px"
                                            @click="deleteUserSignLine"
                                        >
                                            删除
                                        </el-button>
                                    </div>
                                    <div class="setting-cell">
                                        <label>字体大小: </label>
                                        <el-input-number
                                            v-model="userSign[radioIndexUserSign].lines[radioIndexUserSignLine].fontSize"
                                            size="small"
                                            :min="30"
                                            :max="200"
                                        ></el-input-number>
                                    </div>
                                </div>
                                <div class="setting-row splitter"></div>
                                <div class="setting-row">
                                    <div class="setting-cell">
                                        <label>{{ radioLabelUserSignElement }}</label>
                                        <el-button
                                            size="mini"
                                            type="danger"
                                            round
                                            style="margin-left: 10px"
                                            @click="deleteUserSignElement"
                                        >
                                            删除
                                        </el-button>
                                    </div>
                                </div>
                                <div class="setting-row">
                                    <div class="setting-cell">
                                        <label>字体加粗: </label>
                                        <el-switch
                                            v-model="userSign[radioIndexUserSign].lines[radioIndexUserSignLine].elements[radioIndexUserSignElement].isHighlight"
                                        ></el-switch>
                                    </div>
                                    <div class="setting-cell">
                                        <label>字体颜色: </label>
                                        <el-color-picker
                                            size="small"
                                            v-model="userSign[radioIndexUserSign].lines[radioIndexUserSignLine].elements[radioIndexUserSignElement].color"
                                        ></el-color-picker>
                                    </div>
                                </div>
                                <div class="setting-row">
                                    <label style="margin-right: 10px">显示文字: </label>
                                    <el-input
                                        v-model="userSign[radioIndexUserSign].lines[radioIndexUserSignLine].elements[radioIndexUserSignElement].text"
                                        style="width: calc(50% + 130px)"
                                        size="small"
                                    ></el-input>
                                </div>
                                <!-- <div class="setting-row splitter"></div> -->
                            </div>
                        </el-tab-pane>
                        <el-tab-pane label="生成文明" name="third"> TODO </el-tab-pane>
                    </el-tabs>
                </div>
            </div>
        </div>
        <div id="ghost-container">
            <div class="ghost">
                <div class="face">
                    <div class="eyes">
                        <span></span>
                        <span></span>
                    </div>
                    <div class="mouth"></div>
                </div>
                <div class="hands">
                    <span></span>
                    <span></span>
                </div>
                <div class="feet">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div id="ghost-text">Loading...</div>
        </div>
        <div id="loading-background-container">
            <div id="loading-background"></div>
        </div>
        <a href="" id="download" download="" style="display: none"></a>
        <input id="load-file" type="file" style="display: none" />
        <script src="./library/vue.v2.6.12.js"></script>
        <script src="./library/element-ui.v2.14.1.js"></script>
        <script>
            var $config = new Config();
        </script>
        <script src="./js/vm.js"></script>
        <script src="./js/main.js"></script>
    </body>
</html>
