#content {
    position: absolute;
    /* margin: 40px 0 0 64px; */
    padding: 72px 32px 32px 96px;
    /* box-sizing: border-box; */
    background: var(--color-background-darker);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#map {
    position: relative;
}

#cell.rotate,
#building.rotate {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#mini-map.rotate {
    -webkit-transform: rotate(45deg) scale(0.75);
    -ms-transform: rotate(45deg) scale(0.75);
    transform: rotate(45deg) scale(0.75);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
}

#cell {
    display: block;
}

#cell-helper {
    display: none;
}

#cell-helper .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap;
}

#cell-helper .in-range {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 1px solid var(--color-border-lighter);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: var(--color-background-lighter);
}

#cell-helper .boundary {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    background: var(--color-black);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: black;
}

#cell-helper .out-of-range {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: var(--color-background-darker);
}

#building {
    position: absolute;
    top: 0;
    left: 0;
    width: 3480px;
    height: 3480px;
}

#preview.building {
    z-index: 11 !important;
}

#building .building,
#preview.building {
    position: absolute;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: bold;
    z-index: 5;
}

/* #building .selected-glow {
    border: 3px solid #2dd9fe !important;
    box-shadow: 0 0 8px 2px #00a3d5, inset 0 0 8px 2px #00a3d5 !important;
    z-index: 6;
}

#building .selected-glow .text {
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff, 0 0 80px #0ff, 0 0 90px #0ff, 0 0 100px #0ff,
        0 0 150px #0ff !important;
} */

#building .selected-red {
    border-color: var(--color-danger) !important;
    -webkit-box-shadow: inset 0px 0px 5px 3px var(--color-danger) !important;
    box-shadow: inset 0px 0px 5px 3px var(--color-danger) !important;
    border-width: 1px !important;
}

#building .selected-blue {
    border-color: var(--color-primary) !important;
    -webkit-box-shadow: inset 0px 0px 5px 3px var(--color-primary) !important;
    box-shadow: inset 0px 0px 5px 3px var(--color-primary) !important;
    border-width: 1px !important;
}

#building .hoverable:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-box-shadow: 0px 0px 10px var(--color-border-base);
    box-shadow: 0px 0px 10px var(--color-border-base);
    z-index: 10;
}

#building .building .text,
#preview .text {
    margin: auto;
    text-shadow: var(--color-white) 0px 1px 10px;
    text-align: center;
}

#building .building .marker,
#preview .marker {
    font-size: 10px;
    position: absolute;
    left: 2px;
    text-shadow: var(--color-white) 0px 1px 5px;
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
    transform: scale(0.75);
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
}

#building .road,
#preview.road {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAIAAAC0Ujn1AAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAEXRFWHRTb2Z0d2FyZQBTbmlwYXN0ZV0Xzt0AAAE6SURBVEiJ7VVLEsIwCAWuUZe297+A9+g0LvUYLS4YkeHTVN24MJsyvPBCII/iPM8AME73tgxiwHNZzwcortulLQMiMrPFZF3biZnFjqgwVrEkH4136zzeKl51prwAQNd20k1ip3mJEe9kt3lqPXOc7sxsN2kFJXcX35ZBYm25LYrrdvEuxPN4i52Ruuv9XB1iVz21Pb/q20GUoFhV3xBxB7WGp9aT087A8y2lqHNSxKrOiEfQ+GZsrNjk0nSXcg9GUfdmYuxLjZYuzcXy6trX6qsgO51JeaGnVbJ5RdilnzorrZKembJr3yJ7V6uJGvV2rg77UzRqNVdj1bdv1Si1O6K3iFqtJmo8orcKtbFkZ7TO7q7eInuMJZ3ROn9la1dvDo2x/3+jp/7/G3/03/iWVint20G9RV4b+wB4s+9T4iL+igAAAABJRU5ErkJggg==) !important;
}

@-webkit-keyframes radiate {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50%,
    75% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
    78%,
    100% {
        opacity: 0;
    }
}

@keyframes radiate {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50%,
    75% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
    78%,
    100% {
        opacity: 0;
    }
}

#building .protection-mask::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--color-danger);
    opacity: 0.7;
    z-index: 6;
    border-radius: 50%;
    -webkit-animation: radiate 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
    animation: radiate 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
    -webkit-animation-delay: 300ms;
    animation-delay: 300ms;
}

#preview {
    position: absolute;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.05s ease-in;
    -o-transition: all 0.05s ease-in;
    transition: all 0.05s ease-in;
    border-style: solid;
}

#range-container .range {
    position: absolute;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 8;
}

#range-container .range-row {
    z-index: 9;
    line-height: 0px;
    white-space: nowrap;
}

#range-container .range-cell {
    z-index: 9;
    width: 30px;
    height: 30px;
    display: inline-block;
    background: var(--color-danger-light);
    opacity: 0.7;
}

#range-container .range-hide {
    background: transparent;
}

#selection-block,
#deletion-block {
    position: absolute;
    border: 1px dashed;
    opacity: 0.5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 20;
    display: none;
}

#selection-block {
    border-color: var(--color-primary);
    background: var(--color-primary-light-7);
}

#deletion-block {
    border-color: var(--color-danger);
    background: var(--color-danger-light);
}

#selection-operation,
#deletion-operation {
    position: absolute;
    z-index: 20;
}

#selection-operation .iconbtn,
#deletion-operation .iconbtn {
    position: absolute;
    display: none;
    -webkit-box-shadow: 0 0 12px var(--color-border-base);
    box-shadow: 0 0 12px var(--color-border-base);
}

#selection-operation .iconbtn + .iconbtn,
#deletion-operation .iconbtn + .iconbtn {
    margin: 0;
}

#mini-map-container {
    background: var(--color-background-darker);
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 50;
    border: 1px solid var(--color-border-darker);
    width: 182px;
    height: 182px;
    -webkit-box-shadow: 3px 3px 5px var(--color-border-base);
    box-shadow: 3px 3px 5px var(--color-border-base);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 0.9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#mini-map-border {
    border: 1px solid #ffeb3b;
    width: 174px;
    height: 174px;
    margin: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#mini-map {
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
    transform: scale(0.75);
    /* -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left; */
}

#mini-map-focus {
    position: absolute;
    border: 1px solid var(--color-primary);
    background: var(--color-primary-light-8);
    opacity: 0.3;
    width: 120px;
    height: 80px;
    top: 0;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

#mini-map-container span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#mini-map-container span:nth-child(1) {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

#mini-map-container span:nth-child(2) {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

#mini-map-container span:nth-child(3) {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

#mini-map-container span:nth-child(4) {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

#mini-map-container span:nth-child(2)::before {
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}

#mini-map-container span:nth-child(4)::before {
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}

#mini-map-container span::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: var(--color-primary);
    -webkit-animation: spin-border 4s linear infinite;
    animation: spin-border 4s linear infinite;
}

@-webkit-keyframes spin-border {
    0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: left;
        transform-origin: left;
    }
    50% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: left;
        transform-origin: left;
    }
    50.1% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: right;
        transform-origin: right;
    }
    100% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: right;
        transform-origin: right;
    }
}

@keyframes spin-border {
    0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: left;
        transform-origin: left;
    }
    50% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: left;
        transform-origin: left;
    }
    50.1% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: right;
        transform-origin: right;
    }
    100% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: right;
        transform-origin: right;
    }
}

#road-helper {
    width: 90px;
    height: 30px;
    background: var(--color-success-light);
    opacity: 0.5;
    display: none;
    position: absolute;
    z-index: 15;
}

#sign {
    position: relative;
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    z-index: 20;
}

#author-sign {
    color: var(--color-text-regular);
    position: absolute;
    right: 30px;
    bottom: 30px;
    text-align: right;
    font-size: 30px;
    text-shadow: 0 0 5px var(--color-border-base);
}

#author-sign .highlight,
#user-sign .highlight {
    font-weight: bold;
    color: var(--color-text-primary);
}

#author-sign .link {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    cursor: pointer;
}

#user-sign > div {
    color: var(--color-text-regular);
    position: absolute;
    font-size: 30px;
}

#user-sign span {
    display: inline-block;
}

.residence-requirement {
    background: var(--color-background-lighter);
    border-color: var(--color-border-darker);
    -webkit-box-shadow: 3px 3px 5px var(--color-border-lighter);
    box-shadow: 3px 3px 5px var(--color-border-lighter);
}

.residence-requirement .el-notification__group {
    width: 100%;
}

.residence-requirement h2,
.residence-requirement div {
    color: var(--color-text-regular);
    text-shadow: 0 0 3px var(--color-border-lighter);
}
