#editor-container {
    position: fixed;
    z-index: 60;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--color-background-darker);
    transition: all 0.5s ease-in-out;
}

#editor {
    position: absolute;
    top: 60px;
    left: 40px;
    width: calc(100% - 80px);
    height: calc(100% - 100px);
    background: var(--color-background-base);
    border-radius: 20px;
    box-shadow: 3px 3px 7px var(--color-border-base);
}

#editor-tab {
    margin: 20px;
    height: calc(100% - 40px);
}

#editor .el-tabs__item {
    color: var(--color-text-regular);
}

#editor .el-tabs__item.is-active {
    color: var(--color-primary);
}

#editor .el-tabs__active-bar {
    width: 56px !important;
    background: var(--color-primary);
}

#editor .el-tabs__nav-wrap::after {
    background: var(--color-border-base);
}

#editor .el-tabs__content {
    position: relative;
    height: calc(100% - 50px);
}

#special-building,
#user-sign-editor {
    display: flex;
    height: 100%;
}

#special-building-preview,
#user-sign-preview {
    border-right: 1px solid var(--color-border-base);
    width: 40%;
    display: flex;
    flex-direction: column;
}

#special-building-preview .preview-operation {
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    flex-wrap: wrap;
}

#special-building-preview .preview-operation > div {
    display: flex;
    justify-content: center;
}

#special-building-preview .preview-box,
#user-sign-preview .preview-box {
    margin: auto;
    margin-bottom: 10px;
    background: var(--color-background-lighter);
    width: 80%;
    border: 1px solid var(--color-warning);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#user-sign-preview .preview-box {
    margin-bottom: auto;
    position: relative;
}

#special-building-preview .preview-box::before,
#user-sign-preview .preview-box::before {
    content: "";
    padding-top: 100%;
    float: left;
}

#special-building-preview .preview-box::after,
#user-sign-preview .preview-box::after {
    content: "";
    display: block;
    clear: both;
}

#special-building-preview .preview-box-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

#special-building-preview .preview {
    position: relative;
    /* margin: auto; */
    flex: none;
    width: 30px;
    height: 30px;
    display: flex;
    font-weight: bold;
    border: 1px solid #000000;
    box-sizing: border-box;
    color: #000000;
    background: #ffa500;
    transition: all 0.3s ease-in-out;
}

#special-building-preview .preview .text {
    margin: auto;
    text-shadow: var(--color-white) 0px 1px 10px;
    text-align: center;
}

#special-building-preview .preview .marker {
    font-size: 10px;
    position: absolute;
    left: 2px;
    text-shadow: var(--color-white) 0px 1px 5px;
    transform: scale(0.75);
    transform-origin: top left;
    color: red;
}

#special-building-setting,
#user-sign-setting {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-left: 1px solid var(--color-border-base);
    width: 60%;
}

#special-building-setting label {
    margin-right: 10px;
}

#special-building-setting .setting-row {
    height: 40px;
    width: 100%;
    display: flex;
    margin-left: 10%;
}

#special-building-setting .setting-row + .setting-row {
    margin-top: 20px;
}

#special-building-setting .setting-cell {
    width: 50%;
    display: flex;
    align-items: center;
}
