#editor-container {
    position: fixed;
    z-index: 60;
    left: -100%;
    width: 100%;
    height: 100%;
    /* background: var(--color-background-darker); */
    background-image: -webkit-gradient(
        linear,
        left top,
        right bottom,
        from(var(--color-background-lighter)),
        color-stop(50%, var(--color-background-base)),
        to(var(--color-background-darker))
    );
    background-image: -o-linear-gradient(
        top left,
        var(--color-background-lighter) 0%,
        var(--color-background-base) 50%,
        var(--color-background-darker) 100%
    );
    background-image: linear-gradient(
        to bottom right,
        var(--color-background-lighter) 0%,
        var(--color-background-base) 50%,
        var(--color-background-darker) 100%
    );
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#editor {
    position: absolute;
    top: 60px;
    left: 40px;
    width: calc(100% - 80px);
    height: calc(100% - 100px);
    background: transparent;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 12px 5px var(--color-border-base);
    box-shadow: 0 0 12px 5px var(--color-border-base);
}

#editor .setting-row.center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

#editor-tab {
    margin: 20px;
    height: calc(100% - 40px);
}

#editor .el-tabs__item {
    color: var(--color-text-regular);
}

#editor .el-tabs__item.is-active,
#editor .el-tabs__item:hover {
    color: var(--color-primary);
}

#editor .el-tabs__active-bar {
    width: 56px !important;
    background: var(--color-primary);
}

#editor .el-tabs__nav-wrap::after {
    background: var(--color-border-base);
}

#editor .el-tabs__content {
    position: relative;
    height: calc(100% - 50px);
}

.building-hint {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 2px;
}

.building-hint .div1 {
    grid-area: 1 / 1 / 2 / 3;
}
.building-hint .div2 {
    grid-area: 2 / 1 / 3 / 3;
}
.building-hint .div3 {
    grid-area: 3 / 1 / 4 / 2;
}
.building-hint .div4 {
    grid-area: 3 / 2 / 4 / 3;
}
.building-hint .div5 {
    grid-area: 4 / 1 / 5 / 2;
}
.building-hint .div6 {
    grid-area: 4 / 2 / 5 / 3;
}
.building-hint .div7 {
    grid-area: 5 / 1 / 6 / 2;
}
.building-hint .div8 {
    grid-area: 5 / 2 / 6 / 3;
}
.building-hint .div9 {
    grid-area: 6 / 1 / 7 / 2;
}
.building-hint .div10 {
    grid-area: 6 / 2 / 7 / 3;
}
.building-hint .div11 {
    grid-area: 7 / 1 / 8 / 2;
}
.building-hint .div12 {
    grid-area: 7 / 2 / 8 / 3;
}
.building-hint .div13 {
    grid-area: 8 / 1 / 9 / 2;
}
.building-hint .div14 {
    grid-area: 8 / 2 / 9 / 3;
}

#civil-editor-step .el-step__head.is-process {
    color: var(--color-text-primary);
    border-color: var(--color-text-primary);
}

#civil-editor-step .el-step__head.is-wait {
    color: var(--color-text-secondary);
    border-color: var(--color-text-secondary);
}

#civil-editor-step .el-step__head.is-success {
    color: var(--color-success);
    border-color: var(--color-success);
}

#civil-editor-step .el-step__icon {
    background: var(--color-background-lighter);
}

#civil-editor-step .el-step__line {
    background: var(--color-text-secondary);
}

#civil-editor-step .el-step__title.is-process {
    color: var(--color-text-primary);
}

#civil-editor-step .el-step__title.is-wait {
    color: var(--color-text-secondary);
}

#civil-editor-step .el-step__title.is-success {
    color: var(--color-success);
}

#special-building,
#user-sign-editor,
#civil-editor,
#auto-save {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
}

#special-building-preview,
#user-sign-preview,
#civil-editor-preview {
    border-right: 1px solid var(--color-border-base);
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

#special-building-preview .preview-operation,
#user-sign-preview .preview-operation {
    margin: auto;
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 80%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

#special-building-preview .preview-operation > div,
#user-sign-preview .preview-operation > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#civil-editor-preview .preview-box,
#special-building-preview .preview-box,
#user-sign-preview .preview-box {
    margin: auto;
    margin-bottom: 10px;
    background: var(--color-background-lighter);
    width: 80%;
    border: 1px solid var(--color-warning);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
}

#special-building-preview .preview-box-sheet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#user-sign-preview .preview-box {
    /* margin-bottom: auto; */
    position: relative;
    background: var(--color-background-darker);
}

#civil-editor-preview .preview-box {
    margin: auto;
}

#civil-editor-preview .preview-box::before,
#special-building-preview .preview-box::before,
#user-sign-preview .preview-box::before {
    content: "";
    padding-top: 100%;
    float: left;
}

#civil-editor-preview .preview-box::after,
#special-building-preview .preview-box::after,
#user-sign-preview .preview-box::after {
    content: "";
    display: block;
    clear: both;
}

#special-building-preview .preview-box-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#special-building-preview .preview,
#civil-editor-preview .preview {
    position: relative;
    /* margin: auto; */
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 30px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: bold;
    border: 1px solid #000000;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #000000;
    background: transparent;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#special-building-preview .preview .text,
#civil-editor-preview .preview .text {
    margin: auto;
    text-shadow: var(--color-white) 0px 1px 10px;
    text-align: center;
}

#special-building-preview .preview .marker,
#civil-editor-preview .preview .marker {
    font-size: 10px;
    position: absolute;
    left: 2px;
    text-shadow: var(--color-white) 0px 1px 5px;
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
    transform: scale(0.75);
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    color: red;
}

#special-building-setting,
#user-sign-setting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-left: 1px solid var(--color-border-base);
    width: 60%;
}

#civil-editor-setting .setting-cell > label,
#special-building-setting .setting-cell > label,
#user-sign-setting .setting-cell > label {
    margin-right: 10px;
}

#special-building-setting .setting-row,
#user-sign-setting .setting-row {
    height: 40px;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 10%;
}

#civil-editor-setting .setting-row + .setting-row,
#special-building-setting .setting-row + .setting-row {
    margin-top: 20px;
}

#user-sign-setting .setting-row + .setting-row {
    margin-top: 10px;
}

#civil-editor-setting .setting-cell,
#special-building-setting .setting-cell,
#user-sign-setting .setting-cell {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#user-sign-setting .setting-row.splitter {
    height: 0;
    margin: 15px 0 5px 0;
    border-top: 2px solid var(--color-border-base);
}

#user-sign-map-preview.rotate {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#civil-editor-step {
    width: 10%;
    height: calc(100% - 20px);
    padding: 10px;
    border-right: 2px solid var(--color-border-base);
}

#civil-editor-setting {
    border-left: 1px solid var(--color-border-base);
    overflow: hidden;
    width: 50%;
    padding: 10px 0 10px 20px;
    height: calc(100% - 20px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

#civil-editor-setting-button {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#civil-editor-setting .setting-row {
    width: 100%;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
